.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  position: relative;
  background: var(--body-text-color) 0% 0% no-repeat padding-box;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 16px;
  opacity: 1;
  color: var(--dark-gray);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-body strong {
  color: var(--text-color);
}

.cards .cards-card-body h6 {
  position: absolute;
  right: 0;
  top: 16px;
  background-color: var(--very-light-gray);
  font-size: 14px;
  padding: 6px;
  color: var(--text-color);

}

.cards .cards-card-body h5 {
  color: var(--medium-gray);
  font-size: 12px;
}

.cards .cards-card-image {
  line-height: 0;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transition: transform 0.3s ease, border-radius 0.3s ease;;
}

.cards > ul > li img:hover {
  transform: scale(1.1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}