main .form {
    background-color: var(--color-white);
    padding: var(--spacing-s);
    border-radius: var(--card-border-radius-l);
    filter: var(--image-filter-drop-shadow-small);
    border: solid 1px var(--bg-color-grey);
  }

  main .form   h1{
    color: var(--text-color);
    margin-top: 100px;
    font-size: 110px;
    font-style: normal;
  }
  
  main .form h2 {
    padding: var(--spacing-s) 0;
    font-size: var(--type-heading-l-lh);
  }
  
  main .form h3 {
    padding-top: var(--spacing-s);
    font-size: var(--type-heading-m-size);
  }
  
  main .form input,
  main .form textarea,
  main .form select {
    width: 100%;
    max-width: 41.5rem;
    height: 2.5rem;
    border: 1px solid #8C8C8C;
    background: #313131;
    color: var(--text-color);
    font-size: 1rem;
  }
  
  main .form textarea {
    display: block;
    height: 11.5rem;
  }
  
  main .form input:hover,
  main .form select:hover {
    border-color: var(--color-font-grey);
  }
  
  main .form label {
    color: var(--text-color);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 150%; 
    margin: 0.5rem 0;
    display: block;
  }
  
  main .form label.required::after {
    content: "*";
    color: var(--color-red);
    padding-left: var(--spacing-xxxs);
  }
  
  main .form .field-wrapper {
    margin-bottom: var(--spacing-m);
  }
  
  main .form .form-checkbox-wrapper {
    display: flex;
    align-items: center;
    margin: var(--spacing-xs) 0;
  }
  
  main .form .form-checkbox-wrapper input[type='checkbox'] {
    appearance: none;
  
    /* stylelint-disable */
    -webkit-appearance: none;
    -moz-appearance: none;
  
    /* stylelint-enable */
    height: 20px;
    width: 20px;
    position: relative;
    border: unset;
    padding: unset;
    margin-right: var(--spacing-xxs);
    margin-left: 0;
  }
  
  main .form .form-checkbox-wrapper input[type='checkbox']::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    content: ' ';
    background: url('./checkbox.svg');
    background-size: contain;
  }
  
  main .form .form-checkbox-wrapper input[type='checkbox']:checked::after {
    background: url('./checkbox-checked.svg');
    background-size: contain;
    content: ' ';
  }
  
  main .form .form-checkbox-wrapper label {
    display: block;
    font-size: var(--type-body-xxs-size);
    line-height: var(--type-body-xxs-lh);
    padding-bottom: 0;
  }
  
  main .form-legal-wrapper p {
    font-size: var(--type-body-xxs-size);
    line-height: var(--type-body-xxs-lh);
    font-style: italic;
  }
  
  main .form button {
    font-family: var(--body-font-family);
    font-weight: 700;
    font-size: 18px;
  }
  
  @media screen and (min-width: 900px) {
    main .form {
      padding: var(--spacing-ml);
    }

    main .form.form-container {
      background-image: url("/icons/contactus.svg");
      background-repeat: no-repeat;
      background-position: top right;
    }
    
    main .form label {
      width: 72%;
    }
  }

  @media screen and (max-width: 768px) {
    main .form   h1{
      font-size: 96px;
    }
  }

 .error{
  display: none;
  color: var(--comp-red);
  font-size: var(--body-font-size-xs);
  font-weight: 500;
  font-style: normal;
 }


 .show{
  display: block;
 }