.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns.col-66-33 > div > .columns-img-col {
  order: 1;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 1280px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.col-66-33 > div > div:first-child {
    flex: 2;
  }
}

.columns.hackathon .heading {
  margin-top: 0;
}

.columns.hackathon > div > div.columns-img-col {
  align-self: center;
}

.columns.hackathon p.icon-container {
  display: inline-flex;
  font-size: var(--body-font-size-xxs);
  margin: 0;
  padding-right: 25px;
}

.columns.hackathon p.icon-container .icon {
  width: 18px;
  padding-right: 10px;
}

.columns.hackathon p.button-container {
  margin: 16px 0 0;
}

.columns.hackathon p.button-container a {
  margin: 0;
}

.columns.hackathon p.button-container + p {
  margin: 0;  
  line-height: 0;
}

.columns.hackathon p.button-container + p sub {
  font-size: 12px;
}

@media (width >= 1280px) {
  .columns.hackathon > div > div:first-child {
    padding-right: 10%;
  }

  .columns.hackathon > div > div.columns-img-col {
    align-self: baseline;
  }

  .columns.hackathon > div > div.columns-img-col img {
    width: 75%;
  }
}