
main .hero-banner-container picture {
  display: flex;
}

main .hero-banner-container img {
  width: 100%;
  height: auto;
}

main .hero-banner-container.with-backbutton .button-container {
  text-align: left;
  padding: 0 40px;
}

.banner-carousel-item {
  position: relative;
}

.hero-banner-carousel {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: calc(100vw * 16 / 9);
}

.hero-banner-carousel-data {
  position: absolute;
  bottom: 32px;
  padding: 0 17px;
}

main .hero-banner-carousel-data img {
  width: 96px;
  height: auto;
}

.hero-banner-carousel .hero-banner-carousel-data {
  padding-bottom: 32px;

}

@media (min-width: 768px) {
  .hero-banner-carousel {
    height: calc(100vw * 9 / 16);
  }
}

@media (min-width: 1440px) {
  .hero-banner-carousel-data {
    bottom: 64px;
    padding: 0 40px;
  }

  main .hero-banner-carousel-data img {
    width: 238px;
  }
}

.hero-banner-carousel-data h5 {
  margin: 0;
  margin-bottom: 8px;
}

.gif-variation h5 {
  font-size: var(--sub-title-two);
  font-weight: normal;
}

.hero-banner-carousel .hero-banner-carousel-data h5 {
  font-size: var(--sub-title-one);
  line-height: 36px;
}

.hero-banner-carousel-data h2 {
  margin: 0;
  margin-bottom: 24px;
}

.gif-variation h2 {
  font-size: var(--heading-font-size-s);
  font-weight: normal;
}

.hero-banner-icon .hero-banner-carousel-data h2 {
  margin-bottom: 10px;
}

.hero-banner-carousel-data .sub-title {
  font-size: var(--sub-title-two);
  line-height: 100%;
  width: 100%;
  text-align: left;
  margin-bottom: 24px;
}

@media (min-width: 1440px) {
  .hero-banner-carousel .hero-banner-carousel-data h5 {
    line-height: 48px;
  }

  .hero-banner-carousel-data h2 {
    margin-bottom: 32px;
  }

  .hero-banner-icon .hero-banner-carousel-data h2 {
    margin-bottom: 8px;
  }

  .hero-banner-carousel-data .sub-title {
    text-align: right;
    margin-bottom: 32px;
  }
}

.hero-banner-carousel-data p {
  margin: 0;
  color: var(--text-color);
  text-transform: uppercase;
}

.hero-banner-carousel .hero-banner-carousel-data p {
  color: var(--text-color);
  text-transform: capitalize;
  padding: 2px 16px;
  background: var(--tag-background-color);
  width: fit-content;
  font-size: 16px;
  line-height: 32px;
  border-radius: 4px;
}

.hero-banner-carousel .banner-carousel-item {
  position: absolute;
  left: 100%;
  width: 100%;
  transition: left 0.5s ease;
}

.hero-banner-carousel .banner-carousel-item.item-selected {
  left: 0;
}

/* carousel action buttons */
.carousel-nav {
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-with);
}

.carousel-button {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: transparent;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
}

.carousel-button::before {
  content: "\2B22";
  font-size: 18px;
  position: absolute;
  top: -8px;
  left: 0;
  line-height: 18px;
  color: #FFB13433;
}

.carousel-button.button-selected::before {
  color: orange;
  
}

.carousel-prev-button, .carousel-next-button {
  display: none;
}

main .carousel-prev-button img,
main .carousel-next-button img {
  width: 42px;
  height: 32px;
  cursor: pointer;
}

@media (min-width: 1440px) {
  .carousel-prev-button,
  .carousel-next-button {
    display: block;
  }

  .carousel-prev-button {
    padding-left: 40px;
  }

  .carousel-next-button {
    padding-right: 40px;
  }
}

/* Reach out section */

.gif-variation .lottie {
  display: inline-block;
  position: relative;
  top: 15px;
}

@media (min-width: 1024px) { 
  .gif-variation .lottie {
    width: 340px;
    transform: scale(1.7);
    left: 45px;
  }
}

@media (min-width: 769px) {
  .gif-variation .lottie {
    width: 340px;
    transform: scale(1.7);
    left: 45px;
  }

  .gif-variation .hero-banner-carousel-data {
    left: 28%;
    top: 120px;
  }

  .gif-variation h2 {
    display: inline-block;
    font-size: 72px;
  }

  .gif-variation .hero-banner-carousel-data p {
    font-size: 24px;
    text-transform: none;
    font-weight: normal;
  }

  .gif-variation .banner-carousel-item {
    position: relative;
    overflow: hidden;
    height: 466px;
    background-image: linear-gradient(to bottom, transparent 0, transparent 69px, #21A5A2 69px, #21A5A2 397px, transparent 397px, transparent 466px);
  }

  .hero-banner-container .gif-variation img {
    height: 466px;
    max-width: 366px;
    width: 28%;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .gif-variation .lottie {
    width: 340px;
    transform: scale(1);
    left: -30px;
  }

  .gif-variation .banner-carousel-item {
    height: 720px;
    background-image: linear-gradient(to bottom, transparent 0, transparent 300px, #21A5A2 300px, #21A5A2 715px, transparent 715px, transparent 784px);
  }

  .hero-banner-container .gif-variation img {
    height: auto;
    width: 403px;
    display: block;
    margin: 0 auto;
  }
  
  .gif-variation .hero-banner-carousel-data {
    text-align: center;
    width: 100%;
    bottom: auto;
  }

  .gif-variation h2 {
    font-size: var(--heading-font-size-m);
  }

  .gif-variation h5, .gif-variation h2 {
    display: inline-block;
  }

  .gif-variation h5 {
    margin-right: 60px;
  }
}

@media (max-width: 480px) {
  .gif-variation .banner-carousel-item {
    height: 720px;
    background-image: linear-gradient(to bottom, transparent 0, transparent 280px, #21A5A2 280px, #21A5A2 715px, transparent 715px, transparent 784px)
  }

  .gif-variation h2 {
    font-size: var(--heading-font-size-l);
    display: block;
  }

  .gif-variation .lottie {
    display: block;
    margin-bottom: 20px;
  }

  .gif-variation .hero-banner-carousel-data {
    text-align: center;
    width: 100%;
  }
}



/* header-with-button Section */
.hero-banner.header-with-button.block h2 {
  text-shadow: 0 4px 4px rgba(0 0 0 / 25%);
}

@media (min-width: 769px) {
  .hero-banner.header-with-button.block .hero-banner-carousel-data {
    top: 0;
    text-align: center;
    padding: 96px 164px 0;
  }

  .hero-banner.header-with-button.block.bees-page .hero-banner-carousel-data {
    padding-top: 164px;
  }

  .hero-banner.header-with-button.block h2 {
    font-size: var(--heading-font-size-m);
  }
}

@media (min-width: 1025px) {
  .hero-banner.header-with-button.block h2 {
    font-size: var(--heading-font-size-l);
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .hero-banner.header-with-button.block .hero-banner-carousel-data {
    top: 0;
    text-align: center;
    padding: 64px 110px 0;
  }

  .hero-banner.header-with-button.block h2 {
    font-size: var(--heading-font-size-l);
  }
}

@media (max-width: 480px) {
  .hero-banner.header-with-button.block .hero-banner-carousel-data {
    top: 0;
    text-align: center;
    padding: 30px;
  }

  .hero-banner.header-with-button.block .hero-banner-carousel-data h2 {
    font-size: 40px;
    text-align: center;
    top: 0;
    font-weight: normal;
    letter-spacing: normal;
  }

  .hero-banner.header-with-button.block.bees-page .hero-banner-carousel-data h2 {
    margin-top: 80px;
  }
}

/* three-line-header */

@media (max-width: 769px) {
  .hero-banner.three-line-header.block h2 {
    font-size: var(--heading-font-size-s);
    letter-spacing: normal;
  }
}

.hero-banner.three-line-header.block h2 {
  font-size: var(--heading-font-size-m);
  text-shadow: 2px 4px 4px rgba(0 0 0 / 25%);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -3.6px;
  margin-bottom: 20px;
}

.hero-banner.three-line-header.block h3 {
  font-size: var(--heading-font-size-xl);
  text-shadow: 2px 4px 4px rgba(0 0 0 / 25%);
  margin: 0;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -5.5px;
}

.hero-banner.three-line-header.block h5 {
  font-size: var(--sub-title-two);
  text-align: right;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.hero-banner.three-line-header.block p {
  color: var(--primary);
  font-size: var(--sub-title-one);
  margin-top: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.section.quarter-width.hero-banner-container {
  max-width: calc(100% - 310px);
  margin: 0 auto;
}

.section.quarter-width.hero-banner-container picture img {
  height: 426px;
}

main .hero-banner.three-line-header.hero-carousel picture img,
main .hero-banner.three-line-header.hero-carousel .hero-banner-carousel {
  height: 800px;
}

.section.quarter-width.hero-banner-container h2 {
  font-size: var(--heading-font-size-s);
  font-weight: 100;
  line-height: 120%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.section.quarter-width.hero-banner-container h3 {
  font-size: var(--heading-font-size-xs);
  font-weight: 100;
  line-height: 120%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.hero-banner.three-line-header.blog-detail-banner h2{
  font-size: 72px;
  text-shadow: 2px 4px 4px rgba(0 0 0 / 25%);
  font-weight: 700;
}

.hero-banner.three-line-header.blog-detail-banner h5{
  border-radius: 4px;
  background: var(--color-dark-grey);
  padding: 2px 16px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
}

main .hero-banner.three-line-header.hero-carousel h2 {
  font-size: var(--sub-title-font-size);
  letter-spacing: normal;
}

@media (max-width: 769px) {
  .hero-banner.three-line-header.block h3 {
    font-size: var(--heading-font-size-xl);
    letter-spacing: -1.12px;
    margin: 8px 0 0;
  }

  .hero-banner.three-line-header.block p {
    font-size: var(--body-font-size-m);
    margin-top: 24px;
    line-height: 150%;
  }
}

main .hero-banner.three-line-header.hero-carousel h3 {
  text-shadow: 2px 4px 4px rgba(0 0 0 / 25%);
  font-size: var(--heading-font-size-l);
  letter-spacing: -4.8px;
}

.hero-banner.three-line-header.hero-carousel.block p {
  border-radius: 4px;
  background: var(--color-dark-grey);
  padding: 9px 14px;
  color: var(--text-color);
  font-size: var(--body-font-size-m);
}

.hero-banner.three-line-header span.icon.icon-whatweoffer {
  width: 174px;
  position: relative;
  left: 65px;
  bottom: 35px;
}



@media (max-width: 769px) {
  main .hero-banner.three-line-header.hero-carousel h2 {
    font-size: var(--sub-title-one);
  }

  main .hero-banner.three-line-header.hero-carousel h3 {
    letter-spacing: -0.96px;
  }
 
  .hero-banner.three-line-header.hero-carousel.block p {
    border-radius: 4px;
    background: var(--color-dark-grey);
    padding: 2px 16px;
    font-size: 16px;
    line-height: 32px;
  }

  .three-line-header .hero-banner-carousel-data {
    bottom: 35px;
  }

  .hero-banner.three-line-header.block h5 {
    margin-top: 10px;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    line-height: 100%;
  }

  .hero-banner.three-line-header span.icon.icon-whatweoffer {
    width: 96px;
    left: 0;
    bottom: 0;
  }
}

@media (max-width: 480px) {
  main .hero-banner.three-line-header.hero-carousel picture img,
  main .hero-banner.three-line-header.hero-carousel .hero-banner-carousel {
    height: 690px;
  }
}

.section.quarter-width.hero-banner-container .hero-banner-carousel-data div p:not(:first-child) {
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
  font-size: var(--sub-title-two);
  line-height: normal;
}

.section.quarter-width.hero-banner-container .hero-banner-carousel-data {
  width: 100%;
  height: calc(100% - 110px);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section.quarter-width.hero-banner-container picture img {
    height: auto;
  }

  .section.quarter-width.hero-banner-container {
    max-width: calc(100% - 48px);
  }

  .section.quarter-width.hero-banner-container .hero-banner-carousel-data {
    height: calc(100% - 60px);
  }

  .section.quarter-width.hero-banner-container h2 {
    font-size: var(--sub-title-one);
    max-width: 60%;
  }

  .section.quarter-width.hero-banner-container .hero-banner-carousel-data div p:not(:first-child) {
    max-width: 70%;
  }
}

@media (max-width: 480px) {
  .section.quarter-width.hero-banner-container .hero-banner-carousel-data {
    height: calc(100% - 100px);
  }

  .section.quarter-width.hero-banner-container {
    max-width: 100%;
  }

  .section.quarter-width.hero-banner-container h2 {
    margin-bottom: 0;
  }
  
  .section.quarter-width.hero-banner-container .hero-banner-carousel-data div p:first-child {
    position: relative;
    top: -75px;
  }
}

.section.quarter-width.hero-banner-container span.icon.icon-whatweoffer {
  width: 120px;
}

.section.quarter-width.hero-banner-container .hero-banner-carousel-data div p:first-child {
  display: flex;
}

.section.quarter-width.hero-banner-container .hero-banner-carousel-data div p:nth-child(3) {
  color: var(--bee-yellow);
}
