.download > div {
    display: flex;
    gap: 1rem; /* Optional: Adds space between the elements */
}

.columns.columns-2-cols > div {
  display: flex;
  flex-direction: row;
}

a:any-link{
 margin-left:20px;
}

.icon-container p {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    margin: 0; /* Remove default margin */
}

