.bigbets {
  margin-top: 2.5rem;
}

.bb-container {
  display: flex;
  gap: 2rem;
  color: var(--text-color);
}

.bb-card.teaser-view {
  background-color: white;
  overflow: hidden;
  border-radius: 1.25rem;
  flex: 1;
}

.bb-card.list-view {
  background-color: white;
  overflow: hidden;
  border-radius: 1.25rem;
  flex-basis: 46%;
}

.bb-image {
  max-height: 250px;
  overflow: hidden;
}
.bb-image img {
  transition: transform .2s;
}

.bb-image img:hover {
  transform: scale(1.1);
}

.bb-content {
  padding: 24px 24px 0;
  font-size: var(--body-font-size-xxs);
}

.h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  min-height: 3rem;
}

.bb-description {
  margin: 0;
  height: 4rem;
  overflow: hidden;
}

.big-bet-meta {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 .5rem;
  gap: .5rem;
}

.big-bet-meta > div {
  display: flex;
  justify-content: center;
}

.big-bet-meta .icon.icon-globe {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.big-bet-meta .owner img {
  margin: 0 6px;
  width: 24px;
  height: 24px;
}

.bbtags {
  list-style-type: none;
  display: flex;
  gap: .5rem;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.bbtags li {
  border: 0.3px solid var(--light-gray-color);
  border-radius: 3px;
  padding: .25rem .5rem;
  color: var(--light-gray-color);
}

.bbtags li.tag-count {
  border: none;
  padding-left: 0;
}

.bb-content .button-container {
  margin-top: 1.5rem;
}

.bb-content .button-container a {
  margin: 0;
}

.bigbets .view-all {
  text-align: center;
  margin: 1.5rem 0 0;
}

.bb-container.list-view {
  flex-direction: column;
  flex-wrap: wrap;
}

@media (width >= 768px) {
  .bb-container.teaser-view {
    flex-direction: row;
  }
  .bb-container.list-view {
    flex-direction: row;
  }
}