/* header and nav layout */

header .nav-wrapper {
  width: 100%;
  z-index: 2;
  position: fixed;
  backdrop-filter: blur(2px);
}

header .nav-wrapper.sticky {
  background: transparent;
  backdrop-filter: unset;
}

header nav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: var(--max-with);
  height: var(--nav-mob-height);
  position: relative;
  padding: 0 40px;
}

header nav[aria-expanded="true"] {
  grid-template:
    "hamburger brand" var(--nav-mob-height)
    "sections sections" 1fr
    "tools tools" var(--nav-mob-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
  min-height: 0;
  overflow: visible;
}

header .nav-wrapper.sticky nav {
  justify-content: flex-end;
}

@media (min-width: 768px) {
  header nav {
    height: var(--nav-desk-height);
  }
}

@media (min-width: 1440px) {
  header nav {
    height: var(--nav-desk-height);
  }
}

header nav .nav-tools p {
  margin: 0;
  display: flex;
  padding-right: 8px;
}

@media (min-width: 1440px) {
  header nav .nav-tools p {
    padding-right: 32px;
  }
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 24px;
  width: 24px;
  order: 3;
  padding: 18px;
  border-radius: 50%;
  background: var(--secondary);
}

header nav .nav-hamburger button {
  height: 24px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: "";
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex: 2;
  flex-basis: var(--nav-mob-height);
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  z-index: 10;
}

header .nav-wrapper.sticky .nav-brand {
  display: none;
}

header nav .nav-brand .icon.icon-creativeb-logo {
  width: var(--nav-mob-height);
  height: auto;
  padding: 7px;
  background-color: var(--color-red);
  position: absolute;
  top: 0;
}

header nav .nav-brand.active .icon.icon-creativeb-logo {
  display: none;
}

header .icon-search {
  filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 100%));
}

@media (min-width: 768px) {
  header .nav-brand {
    flex-basis: var(--nav-desk-height);
  }

  header nav .nav-brand .icon.icon-creativeb-logo {
    width: var(--nav-desk-height);
  }
}

@media (min-width: 1440px) {
  header .nav-brand {
    flex-basis: var(--nav-desk-height);
  }

  header nav .nav-brand .icon.icon-creativeb-logo {
    width: var(--nav-desk-height);
    padding: 12px;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

header .nav-wrapper.sticky .nav-tools {
  display: none;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  position: absolute;
  width: 100vw;
  background: var(--background-color);
  transform: translate3d(100%,0,0);
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  z-index: -1;
  top: 0;
  left: 0;
  padding-top: var(--nav-mob-height);
  height: 100vh;
  overflow-x: scroll;
}

header nav[aria-expanded="true"] .nav-sections {
  transform: translate3d(0, 0,0);
}

header .nav-sections .menu {
  padding: 0 17px;
  max-width: var(--max-with);
  margin: 0 auto;
}

header .nav-sections .menu > div {
  display: flex;
  flex-direction: column;
}

header .nav-sections .menu > div div {
  margin: 24px 0;
}

header .nav-sections .menu > div ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* menu left side  */
header .nav-sections .menu > div ul li {
  margin-bottom: 18px;
  transform: translate3d(0, -20px,0);
  opacity: 0;
  transition: transform 0.3s ease-in 0.4s, opacity 0.3s ease-in 0.4s;
  will-change: transform, opacity;
}

header .nav-sections .menu > div ul li:last-child {
  margin-bottom: 0;
}

header nav[aria-expanded="true"] .nav-sections .menu > div ul li  {
  transform: translate3d(0, 0,0);
  opacity: 1;
}

header .nav-sections .menu > div ul li a {
  font-size: var(--heading-font-size-s);
  line-height: var(--heading-font-size-s);
  letter-spacing: -1.12px;
  transition: color 0.1s ease-in;
  will-change: color;
}

header .nav-sections .menu > div ul li a:hover {
  color: var(--link-hover-color);
}

@media (min-width: 1440px) {
  header .nav-sections .menu > div div {
    margin: 108px 0;
  }

  header .nav-sections .menu > div ul li {
    margin-bottom: 32px;
  }
}

/* menu right side  */
header .nav-sections .menu > div div:nth-child(2) {
  border: 1px solid #3f3f3f;
  background: #232323;
  padding: 0 30px;
  height: fit-content;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.4s;
  will-change: opacity;
}

header nav[aria-expanded="true"] .nav-sections .menu > div div:nth-child(2) {
  opacity: 1;
}

header .nav-sections .menu > div div:nth-child(2) p {
  color: var(--grey-text);
  font-size: var(--sub-title-font-size);
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 16px;
}

header .nav-sections .menu > div div:nth-child(2) p a {
  text-decoration: none;
}

header .nav-sections .menu > div div:nth-child(2) p:nth-child(2) {
  color: var(--text-color);
  font-size: var(--body-font-size-m);
  line-height: 32px;
  width: 100%;
}

@media (min-width: 768px) {
  header .nav-sections .menu {
    padding: 0 80px;
  }

  header .nav-sections {
    top: 0;
    padding-top: var(--nav-desk-height);
  }

  header .nav-sections .menu > div {
    flex-direction: row;
    justify-content: space-between;
  }

  header .nav-sections .menu > div div {
    flex-basis: 50%;
  }
}

@media (min-width: 1440px) {
  header .nav-sections .menu > div div:nth-child(2) {
    padding: 32px;
  }

  header .nav-sections .menu > div div:nth-child(2) p:nth-child(2) {
    width: 80%;
  }
}
