/* Big-bet meta section below heading */
.big-bet .big-bet-meta {
  display: flex;
  font-size: var(--body-font-size-xxs);
  flex-wrap: wrap;
  position: relative;
  top: -40px;
}

.big-bet .big-bet-meta > div {
  padding-right: 1.5rem;
}

.big-bet .big-bet-meta .icon-container {
  display: flex;
}

.big-bet .big-bet-meta .icon-container .icon-globe {
  height: 14px;
  width: 14px;
  margin-right: 5px;
  line-height: 26px;
}

.big-bet .big-bet-meta .owner {
  display: flex;
  justify-content: center;
}

.big-bet .big-bet-meta .owner img {
  height: 24px;
  margin: 0 5px;
}