/* Big-bet two column template rules, 67%-33%*/
.big-bet .template-two-col-container {
  display: flex;
  max-width: var(--desktop-max-width);
  margin: auto;
  flex-direction: column;
}

.big-bet .template-two-col-container .section {
  padding-top: 0;
}

@media (width >= 1280px) {
  .big-bet .template-two-col-container {
    flex-direction: row;
  }

  .big-bet .template-two-col-container .template-left-container {
    flex: 2;
  }
  
  .big-bet .template-two-col-container .template-right-container {
    flex: 1;
  }

  .big-bet .template-two-col-container .template-right-container .section > div {
    padding-left: 0;
  }
}

/* Big-bet meta section below heading */
.big-bet .big-bet-meta {
  display: flex;
  font-size: var(--body-font-size-xxs);
  flex-wrap: wrap;
}

.big-bet .big-bet-meta > div {
  padding-right: 1.5rem;
}

.big-bet .big-bet-meta .icon-container {
  display: flex;
}

.big-bet .big-bet-meta .icon-container .icon-globe {
  height: 14px;
  width: 14px;
  margin-right: 5px;
  line-height: 26px;
}

.big-bet .big-bet-meta .owner {
  display: flex;
  justify-content: center;
}

.big-bet .big-bet-meta .owner img {
  height: 24px;
  margin: 0 5px;
}