/* Tab design Start */
.card-carousel.carousel-tab {
  padding-top: 32px;
}

.tab-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 52px;
  overflow-x: auto;
}

.tab-items::-webkit-scrollbar {
  display: none;
}

.tab-items .tab-item {
  color: var(--text-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 40px; 
  letter-spacing: -1.92px;
  cursor: pointer;
  padding: 0 25px;
}

.tab-items .tab-item:hover {
  color: var(--text-color);
  text-decoration: underline;
}

.tab-items .tab-item.active {
  color: var(--primary);
  text-decoration: underline;
}

@media (min-width: 768px) {
  .tab-items  {
    width: 80%;
    padding-bottom: 64px;
  }

  .tab-items .tab-item {
    padding: 0 25px;
  }
}

.tab-container-item {
  max-width: 1440px;
  margin: 0 auto;
  display: none;
}

.tab-container-item.active {
  display: flex;
}

.carousel-section {
  transform: translate3d(0, 0, 0);
}

.tab-container-item .carousel-section {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  width: 100%;
}

.tab-container-item .carousel-section::-webkit-scrollbar {
  display: none;
}


.multicard-center .carousel-item {
  flex-shrink: 0;
  margin: 16px;
  transform: translate3d(0, 0, 0);
  min-width: 320px;
  max-width: 320px;
  height: 180px;
}

.multicard-center .carousel-item.center {
  min-width: 320px;
  max-width: 320px;
  height: 180px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 134px 0;
  transform: translate3d(0, 0, 0) !important;
}


.multicard-center .carousel-item.center::before,
.multicard-center .carousel-item.center::after {
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  content: "";
  display: block;
  position: absolute;
  background: var(--primary);
  transform: scale(1.055);
}

.multicard-center .carousel-item img {
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  content: initial;
  display: block;
  position: absolute;
  background: var(--primary);
  transform: scale(1.055);
  filter: grayscale(1);
  border-radius: 10px;
  clip-path: polygon(
    45% 1.3398%, 46.5798% 0.6031%, 48.2635% 0.1519%, 50% 0%, 
    51.7365% 0.1519%, 53.4202% 0.6031%, 55% 1.3398%, 89.641% 21.3398%, 
    91.0689% 22.3396%, 92.3015% 23.5721%, 93.3013% 25%, 94.038% 26.5798%, 
    94.4891% 28.2635%, 94.641% 30%, 94.641% 70%, 94.4891% 71.7365%, 
    94.038% 73.4202%, 93.3013% 75%, 92.3015% 76.4279%, 91.0689% 77.6604%, 
    89.641% 78.6603%, 55% 98.6603%, 53.4202% 99.397%, 51.7365% 99.8481%, 
    50% 100%, 48.2635% 99.8481%, 46.5798% 99.397%, 45% 98.6603%, 
    10.359% 78.6603%, 8.9311% 77.6604%, 7.6985% 76.4279%, 6.6987% 75%, 
    5.9621% 73.4202%, 5.5109% 71.7365%, 5.359% 70%, 5.359% 30%, 
    5.5109% 28.2635%, 5.9621% 26.5798%, 6.6987% 25%, 7.6985% 23.5721%, 
    8.9311% 22.3396%, 10.359% 21.3398%
  );
}

.multicard-center .carousel-item.center::after {
  background: var(--background-color);
    z-index: 1;
    transform: scale(1.04);
}

.multicard-center .carousel-item.center::before,
.multicard-center .carousel-item.center::after,
.slider-dots .dot {
  clip-path: polygon(
    45% 1.3398%, 46.5798% 0.6031%, 48.2635% 0.1519%, 50% 0%, 
    51.7365% 0.1519%, 53.4202% 0.6031%, 55% 1.3398%, 89.641% 21.3398%, 
    91.0689% 22.3396%, 92.3015% 23.5721%, 93.3013% 25%, 94.038% 26.5798%, 
    94.4891% 28.2635%, 94.641% 30%, 94.641% 70%, 94.4891% 71.7365%, 
    94.038% 73.4202%, 93.3013% 75%, 92.3015% 76.4279%, 91.0689% 77.6604%, 
    89.641% 78.6603%, 55% 98.6603%, 53.4202% 99.397%, 51.7365% 99.8481%, 
    50% 100%, 48.2635% 99.8481%, 46.5798% 99.397%, 45% 98.6603%, 
    10.359% 78.6603%, 8.9311% 77.6604%, 7.6985% 76.4279%, 6.6987% 75%, 
    5.9621% 73.4202%, 5.5109% 71.7365%, 5.359% 70%, 5.359% 30%, 
    5.5109% 28.2635%, 5.9621% 26.5798%, 6.6987% 25%, 7.6985% 23.5721%, 
    8.9311% 22.3396%, 10.359% 21.3398%
  );
}

.multicard-center .carousel-item.center img {
  filter: grayscale(0);
  transform: translate3d(0, 0, 0);
  z-index: 2;
}

.multicard-right .carousel-item {
  width: 306px;
  min-width: 306px;
  margin: 12px;
}

.multicard-right .carousel-item a {
  display: none;
}

@media (min-width: 768px) {
  .multicard-right .carousel-item {
    max-height: 620px;
  }

  .multicard-right .carousel-item img {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
  
  .tab-container-item .carousel-section {
    overflow: hidden;
  }
}

.tab-container-item .carousel-section .carousel-item {
  width: 290px;
  min-width: 290px;
  display: none;
}

.tab-container-item.active .carousel-section .carousel-item {
  display: flex;
}

.tab-container-item .carousel-section .carousel-item.center {
  display: block;
}

.tab-container-item .carousel-section .carousel-item img {
  height: auto;
}

.tab-container-item .carousel-section .carousel-item>div {
  display: flex;
  flex-direction: column;
}

.tab-container-item .carousel-section .carousel-item>div>div {
  width: 290px;
  padding: 0 16px;
}

.card-carousel-container.two-col .secondary-heading img {
  width: 85px;
  height: auto;
}

.tab-container-item .carousel-section .carousel-item>div>div img {
  clip-path: polygon(
    45% 1.3398%, 46.5798% 0.6031%, 48.2635% 0.1519%, 50% 0%, 
    51.7365% 0.1519%, 53.4202% 0.6031%, 55% 1.3398%, 89.641% 21.3398%, 
    91.0689% 22.3396%, 92.3015% 23.5721%, 93.3013% 25%, 94.038% 26.5798%, 
    94.4891% 28.2635%, 94.641% 30%, 94.641% 70%, 94.4891% 71.7365%, 
    94.038% 73.4202%, 93.3013% 75%, 92.3015% 76.4279%, 91.0689% 77.6604%, 
    89.641% 78.6603%, 55% 98.6603%, 53.4202% 99.397%, 51.7365% 99.8481%, 
    50% 100%, 48.2635% 99.8481%, 46.5798% 99.397%, 45% 98.6603%, 
    10.359% 78.6603%, 8.9311% 77.6604%, 7.6985% 76.4279%, 6.6987% 75%, 
    5.9621% 73.4202%, 5.5109% 71.7365%, 5.359% 70%, 5.359% 30%, 
    5.5109% 28.2635%, 5.9621% 26.5798%, 6.6987% 25%, 7.6985% 23.5721%, 
    8.9311% 22.3396%, 10.359% 21.3398%
  );
  max-width: 290px;
  height: 258px;
}

@media (min-width: 768px) {
  .tab-container-item .carousel-section .carousel-item>div>div img {
    clip-path: polygon(98.6603% 45%, 99.3969% 46.5798%, 99.8481% 48.2635%, 100% 50%, 99.8481% 51.7365%, 99.3969% 53.4202%, 98.6603% 55%, 78.6603% 89.641%, 77.6604% 91.0689%, 76.4279% 92.3015%, 75% 93.3013%, 73.4202% 94.0379%, 71.7365% 94.4891%, 70% 94.641%, 30% 94.641%, 28.2635% 94.4891%, 26.5798% 94.0379%, 25% 93.3013%, 23.5721% 92.3015%, 22.3396% 91.0689%, 21.3398% 89.641%, 1.3398% 55%, 0.6031% 53.4202%, 0.1519% 51.7365%, 0% 50%, 0.1519% 48.2635%, 0.6031% 46.5798%, 1.3398% 45%, 21.3398% 10.359%, 22.3396% 8.9311%, 23.5721% 7.6985%, 25% 6.6987%, 26.5798% 5.9621%, 28.2635% 5.5109%, 30% 5.359%, 70% 5.359%, 71.7365% 5.5109%, 73.4202% 5.9621%, 75% 6.6987%, 76.4279% 7.6985%, 77.6604% 8.9311%, 78.6603% 10.359%);
    max-width: 100%;
    height: auto;
  }
}

.tab-container-item .carousel-section .carousel-item>div>div h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; 
  letter-spacing: -0.8px;
  color: var(--grey-text);
}

.tab-container-item .carousel-section .carousel-item>div>div:nth-child(2n) :nth-child(2n) {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.tab-container-item .carousel-section .carousel-item>div>div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-container-item .carousel-section .carousel-item>div>div:first-child img {
  min-width: 290px;
  max-width: 290px;
  min-height: 338px;
}

@media (min-width: 768px) {
  .tab-container-item .carousel-section .carousel-item {
    width: 100%;
    min-width: 100%;
  }

  .tab-container-item .carousel-section .carousel-item>div {
    flex-direction: row;
  }

  .tab-container-item .carousel-section .carousel-item>div>div {
    width: 50%;
  }

  .tab-container-item .carousel-section .carousel-item>div>div h2 {
    font-size: 40px;
    letter-spacing: -1.44px;
  }
}

@media (min-width: 1440px) {
  .tab-container-item .carousel-section .carousel-item>div>div h2 {
    font-size: 72px;
  }

  .tab-container-item .carousel-section .carousel-item>div>div:first-child img {
    min-width: 544px;
    max-width: 544px;
    min-height: 484px;
  }
}

/* Tab design End */
main .section.card-carousel-container {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

main .section.card-carousel-container .text-wrapper {
  padding: 0 16px;
  max-width: 100%;
}

main .section.card-carousel-container.two-col {
  display: flex;
  flex-direction: column;
}

main .section.card-carousel-container.two-col .secondary-heading {
  padding: 0 16px;
}

main .section.card-carousel-container.two-col .secondary-heading p:nth-child(3n) {
  font-size: 40px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: -0.8px;
  color: var(--grey-text);
}

@media (min-width: 768px) {
  main .section.card-carousel-container.two-col {
    flex-direction: row;
  }

  main .section.card-carousel-container.two-col .text-wrapper {
    min-width: 352px;
  }

}

@media (min-width: 1440px) {
  main .section.card-carousel-container.two-col .text-wrapper {
    min-width: 580px;
  }
}


.multicard-center {
	display: flex;
	flex-flow: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-bottom: 0;
  max-width: 1440px;
  margin: 0 auto;
  transform: translate3d(-316px, 0, 0);
  width: calc(100% + 346px);
}

.multicard-center .carousel-item a {
  display: none;
}

@media (min-width: 768px) {
  .multicard-center {
    transform: translate3d(-98px, 0, 0);
  }

  .multicard-center .carousel-item {
    min-width: 294px;
    max-width: 294px;
    height: 162px;
  }
}

@media (min-width: 1024px) {
  .multicard-center {
    padding-bottom: 64px;
    transform: translate3d(-120px, 0, 0);
    width: calc(100% + 346px);
    max-width: max-content;
  }

  .multicard-center .carousel-item {
    min-width: 398px;
    max-width: 398px;
    height: 208px;
  }

  .multicard-center .carousel-item img {
    max-width: 100%;
    object-fit: cover;
  }

  .multicard-center .carousel-item.center {
    min-width: 398px;
    max-width: 398px;
    height: 208px;
  }
}


@media (min-width: 1440px) {
  .multicard-center {
    transform: translate3d(-198px, 0, 0);
  }

  .multicard-center .carousel-item picture {
    width: 100%;
    height: 200%;
    padding: 134px 0;
  }

  .multicard-center .carousel-item.center picture {
    width: 100%;
    height: 200%;
    padding: 134px 0;
  }

  .multicard-center .carousel-item.center a {
    display: block;
    margin-top: 84px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    color: var(--grey-text);
  }
}

@media (min-width: 1920px) {
  .multicard-center {
    transform: translate3d(0, 0, 0);
  }
}

.multicard-right {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
}

.slider-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1128px;
  margin: 0 auto;
}

.slide-transition-right, .slide-transition-left {
  transition: transform 0.3s ease-in 0.3s;
}

.slider-buttons .prev {
  background-image: url("/icons/previous.svg");
  width: 2.5625rem;
  height: 2rem;
  flex-shrink: 0;
  cursor: pointer;
  display: block;
}

.slider-buttons .next {
  background-image: url("/icons/next.svg");
  width: 2.5625rem;
  height: 2rem;
  flex-shrink: 0;
  display: flex;
  cursor: pointer;
}

.slider-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slider-dots .dot {
  width: 21px;
  height: 22px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 1rem;

}

.slider-dots .dot.active {
  background-color: var(--primary);
  stroke-width: 1px;
}

.carousel-tab ~ .slider-buttons {
  display: none;
  margin-top: 0;
}

@media (min-width: 1440px) {
  .slider-buttons {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
}
