.picture-container .block.picture{
  margin-top: 32px;
}

.block.picture picture {
  display: block;
  width: 100%;
  height: auto;
}

.block.picture img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.block.picture .mobile {
  display: block;
}

.block.picture .desktop,
.block.picture .tablet {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .block.picture .mobile,
  .block.picture .desktop {
    display: none;
  }

  .block.picture .tablet {
    display: block;
  }

}

@media screen and (min-width: 1440px) {
  .block.picture .mobile,
  .block.picture .tablet {
    display: none;
  }

  .block.picture .desktop {
    display: block;
  }
  
  .picture-container .block h4,.picture-container .block h2{
    text-align:right;
    width: fit-content;
  }

  .picture-container .block h2#our-approach{
    margin-top: 128px;
  }

  .block.picture img {
    width: 70%;
  }
}