body.modal-open {
  overflow: hidden;
}

.modal dialog {
  background-color: var(--background-color);
  overscroll-behavior: none;
  border: none;
  margin: 80px auto;
  padding: 2.5rem;
  color: var(--color-text-main);
}

.modal dialog .modal-content {
  overscroll-behavior: none;
  max-height: 80vh;
}

.modal dialog .modal-content h2 {
  margin-top: 0;
}

.modal.block * {
  max-width: calc(var(--desktop-max-width) - 30rem);
  height: auto;
  overscroll-behavior: contain;
}

@media (width <= 1279px) {
  .modal.block * {
    width: auto;
  }
}

.modal .close-button {
  padding: 0;
  position: absolute;
  top: 12px;
  right: 20px;
  background-color: unset;
  text-overflow: clip;
  margin: 0;
  border: none;
}

.modal dialog::backdrop {
  background-color: rgb(0 0 0 / 53%);
}

.modal .close-button .icon-close {
  width: 28px;
  height: 28px;
}

.modal dialog .section,
main dialog .section > div {
  padding: 0;
} 

@media (width < 1920px) {
  .modal dialog {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

/* Profile modal */
@media (width >= 1280px) {
  .modal .modal-content .section.column-one-one.left-column {
    margin-right: 2rem;
  } 
}

.modal .modal-content .section.profile-detail.left-column p {
  margin: 0;
}
 
.modal .modal-content .section.profile-detail.left-column img {
  width: 100%;
}