.text-wrapper {
  max-width: 1128px;
  margin: 0 auto;
}

.text-container .center-align {
  text-align: center;
}

.text-container h1,
.text-container h2,
.text-container h3  {
  letter-spacing: -3.6px;
  position: relative;
  margin: 0 0 16px;
}

.quote h2, .quote h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.text-container .left-align,
.text-container .left-align h1,
.text-container .left-align h2,
.text-container .left-align h3 {
  text-align: left;
}

.text-container .right-align {
  text-align: right;
}

.text-container .center-align h1,
.text-container .center-align h2,
.text-container .center-align h3 {
  margin: 0 auto 16px;

}

.text-container .yellow-heading h1,
.text-container .yellow-heading h2,
.text-container .yellow-heading h3 {
  color: var(--primary);
}

.text-container .grey-heading h2,
.text-container .grey-heading h3,
.text-container .grey-heading h5 {
  color: var(--grey-text);
}

.text-container .secondary-heading h2,
.text-container .secondary-heading h3 {
  color: var(--secondary);
}

.text-container p {
  font-size: var(--sub-title-one);
  color: var(--text-color);
  margin: 0 0 8px;
  font-weight: 100;
}

.quote > div > div > p {
  text-align: right;
}

.text-wrapper .blog-details p{
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.text-container .left-title p:first-child,
.text-container .section-divider div{
  font-size: var(--body-font-size-m);
  font-style: normal;
  font-weight: 100;
  line-height: 150%;
  margin: 0 0 24px;
  color: var(--primary);
  padding-left: 54px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

.text-container .left-title p:first-child::before,
.text-container .section-divider div::before {
  background-color: var(--primary);
  content: "";
  height: 2px;
  left: -38px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  z-index: 1;
}

.text-container.cards-container h3{
  margin: 0;
  line-height: 1.2;
  color: var(--grey-text);
}

.text-container .yellow-heading.center-align h1:has(em),
.text-container .yellow-heading.center-align h2:has(em),
.text-container .yellow-heading.center-align h3:has(em) {
  color: var(--text-color);
}

.text-container .yellow-heading.center-align h1 em,
.text-container .yellow-heading.center-align h2 em,
.text-container .yellow-heading.center-align h3 em,
.text-container .yellow-heading.left-title h3 em {
  color: var(--primary);
  font-style: normal;
}

.text-container .secondary-heading.center-align h1:has(em),
.text-container .secondary-heading.center-align h2:has(em),
.text-container .secondary-heading.center-align h3:has(em) {
  color: var(--text-color);
}

.text-container .secondary-heading.center-align h1 em,
.text-container .secondary-heading.center-align h2 em,
.text-container .secondary-heading.center-align h3 em {
  color: var(--secondary);
  font-style: normal;
}

@media (min-width: 768px) {
  .text-container .yellow-heading.center-align h1::after,
  .text-container .yellow-heading.center-align h2::after,
  .text-container .yellow-heading.center-align h3::after {
    content: "";
    display: inline-block;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -80px;
    transform: translateX(-50%);
    background: url("../../resources/images/Bee__fly_large.gif") center center
      no-repeat;
    background-size: cover;
  }

  .text-container .yellow-heading.center-align.success-container h2::after {
    display: none;
  }
}

@media (min-width: 1440px) {
  .text-container .left-title p:first-child,
  .text-container .section-divider div {
    padding-left: 0;
  }

  .text-container .left-title h4 {
    padding-left: 0;
    margin: 0;
  }

  .text-container .left-title p:first-child::before,
  .text-container .section-divider div::before {
    width: 100%;
    left: calc(-100% - 16px);
  }
}

.quote.block {
  position: relative;
}

.quote #quote {
  position: static;

  @media(min-width: 1440px) {
    position: absolute;
    top: 0;
  }
}

.quote h4:nth-child(2) {
  @media(min-width: 1440px) {
    padding-top: 76px;
    margin-left: 112px;
  }
}

.quote h4:nth-child(3) {
  color: var(--secondary);
  
  @media(min-width: 1440px) {
    margin-left: 112px;
  }
}

.quote .icon.icon-quote {
  width: 150px;
  height: 150px;

  @media(max-width: 768px) {
    width: 105px;
  height: 105px;
  }
}

.text-wrapper .green-text{
  color:var(--color-bloghheading);
  font-size: 48px;
  font-weight: 300;
  line-height: 56px;
}

.text-wrapper .blog-details{
  margin-top: 32px;
  padding: 0 1rem;
}
