footer {
  background-color: var(--background-color-footer);
}

footer .footer {
  padding: 0 var(--gutter-space-mobile);
  max-width: var(--desktop-max-width);
  margin: auto;
  display: flex;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (width >= 1280px) {
  footer .footer {
    padding: 0 var(--gutter-space-desktop);
  }
}

footer .footer p {
  margin: 0;
}
