@font-face {
    font-family: "Adobe Clean";
    src: url("../resources/fonts/AdobeClean-Black.woff2") format("woff2"),
      url("../resources/fonts/AdobeClean-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display swap;
  }
  
  @font-face {
    font-family: "Adobe Clean";
    src: url("../resources/fonts/AdobeClean-Bold.woff2") format("woff2"),
      url("../resources/fonts/AdobeClean-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Adobe Clean";
    src: url("../resources/fonts/AdobeClean-Regular.woff2") format("woff2"),
      url("../resources/fonts/AdobeClean-Regular.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Adobe Clean";
    src: url("../resources/fonts/AdobeClean-Light.woff2") format("woff2"),
      url("../resources/fonts/AdobeClean-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }