/* add global styles that can be loaded post LCP here */ 

/* Section triangles */
@media (width >= 1280px) {
  .section .triangle {
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    padding: 0;
    margin: 0;
    transition: transform .2s;
  }

  .section .triangle.t-type1 {
    background-image: url('/icons/triangle1.svg');
  }

  .section:hover .triangle.t-type1 {
    transform: rotate(10deg);
  }

  .section .triangle.t-type2 {
    background-image: url('/icons/triangle2.svg');
  }

  .section:hover .triangle.t-type2 {
    transform: scale(1.2);
  }

  .section .triangle.t-type3 {
    background-image: url('/icons/triangle3.svg');
  }

  .section:hover .triangle.t-type3 {
    transform: scale(1.2);
  }

  .section .triangle.t-sizes,
  .modal.block .section .triangle.t-sizes {
    width: 90px;
    height: 90px;
    background-size: 90px;
  }

  .section .triangle.t-sizem,
  .modal.block .section .triangle.t-sizem {
    width: 160px;
    height: 160px;
    background-size: 160px;
  }

  .section .triangle.t-sizel,
  .modal.block .section .triangle.t-sizel {
    width: 220px;
    height: 220px;
    background-size: 220px;
  }
}