/* add global styles that can be loaded post LCP here */
/* Profile details popup */
.section.profile-detail.left-column p {
    margin: 0;
  }
   
  .section.profile-detail.left-column img {
    width: 100%;
  }
   
  @media (width >= 1280px) {
    .section.profile-detail.left-column {
      float: left;
      width: 48%;
      margin-right: 2rem;
    }  
  }