/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
 :root {
  /* colors */
  --primary-color: #066CE7;
  --primary-dark-color: #0658BC;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: black;
  --text-color-gray: #E6E6E6;
  --body-text-color: #fff;
  --background-color: #002651;
  --border-color: #868686;
  --heading-primary: #B0B0B0;
  --heading-secondary: #EB1100;
  --nav-grey: #d1d1d1;
  --light-gray: #5D5D5D;
  --dark-gray: #707070;
  --medium-gray: #727272;
  --very-light-gray: #D5D5D5;
  --light-gray-color: #454545;
  --dark-blue: #012C5D;
  --medium-blue: #0D2D52;
  --link-color-blue:#88D;

  /* fonts */
  --body-font-family: "Adobe Clean", sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: var(--body-font-family);

  /* Links & buttons */
  --link-color: #D0D0D0;
  --link-color-dark: #D6D6D6;
  --link-hover-color: #fff;
  --link-secondary-color: var(--primary-color);
  --link-secondary-hover-color: #136ff6;
  --button-redius: .75rem;
  --button-padding: .5rem 1rem;
  --button-bg-color: var(--primary-color);
  --button-text-color: #fff;
  --button-bg-hover-color: var(--primary-dark-color);
  --button-secondary-bg-color: unset; 
  --button-secondary-bg-hover-color: #A2A2A2;
  --button-secondary-text-color: #B0B0B0;
  --button-secondary-text-hover-color: #fff;
  --button-secondary-border-color: var(--button-secondary-text-color); 
  --button-secondary-border-hover-color: var(--button-secondary-bg-hover-color); 
  --button-themes-secondary-color: var(--primary-color); 
  --button-themes-secondary-hover-color: var(--primary-dark-color);
  --button-tertiary-bg-color: unset; 
  --button-tertiary-bg-hover-color: #0875FF;
  --button-tertiary-text-color: #0477FB;
  --button-tertiary-text-hover-color: #fff;
  --button-tertiary-border-color: var(--button-tertiary-text-color); 
  --button-tertiary-border-hover-color: var(--button-tertiary-bg-hover-color); 
  --header-shadow-color: #00000029;
  
  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;
  --body-font-size-xxs: 14px;
  --body-font-size-xxxs: 12px;

  /* heading sizes */
  --heading-font-size-xxl: 2rem;
  --heading-font-size-xl: 2rem;
  --heading-font-size-l: 1.75rem;
  --heading-font-size-m: 1.5rem;
  --heading-font-size-s: 1.25rem;
  --heading-font-size-xs: 18px;
  --heading-font-size-xxs: 14px;

  /* key units */
  --desktop-max-width: 120rem; /* 1920px */
  --nav-height: 5rem; /* 80px */
  --gutter-space-desktop: 2.5rem; /* 40px */
  --gutter-space-mobile: 1rem;    /* 16px */
  --gutter-space-section-desktop: 3.313rem; /* 53px */
  --gutter-space-section-mobile: 2.5rem; /* 40px */
  --gutter-space-triangle-desktop: 11rem; 
  --gutter-space-triangle-mobile: 9.5rem;
  --gutter-space-triangle-mobile-s: 3rem; 
}

/** Breakpoints
Mobile - 360 to 767
Tablet - 768 to 1279
Desktop – 1280 to 1920
Beyond 1920 the page will be centre aligned
*/

@media (width >= 1279px) {
  :root {
    --heading-font-size-xxl: 4rem;
    --heading-font-size-xl: 2.5rem;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  font-size: var(--body-font-size-xs);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--body-text-color);
  background-color: var(--background-color);
  display: none;
  min-height: 800px;
}

body.appear {
  display: block;
}

body.appear[style*="overflow-y: hidden;"] main {
  opacity: 0.1;
}

header {
  height: var(--nav-height);
  position: relative;
  z-index: 11;
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

dl, ol, ul {
  padding-inline-start: 14px;
}

/* Headings */
h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 1.25;
  margin-top: 1rem;
  margin-bottom: .5rem;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { 
  font-size: var(--heading-font-size-xl); 
  margin-top: 0; 
}
h2 { font-size: var(--heading-font-size-l) }
h3 { font-size: var(--heading-font-size-m) }
h4 { font-size: var(--heading-font-size-s) }
h5 { font-size: var(--heading-font-size-xs) }
h6 { font-size: var(--heading-font-size-xs) }

.heading {
  margin: 1rem 0 .5rem;
}

.heading p {
  margin: 0;
  color: var(--heading-primary);
}

.theme-secondary .heading p {
  color: var(--heading-secondary);
  font-weight: 600;
}

.theme-secondary.heading-dark .heading p {
  color: var(--text-color);
}

.heading h2 {
  margin: 0;
}

code, pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--link-color-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-color-blue);
}

.theme-secondary a:any-link {
  color: var(--link-secondary-color);
}

.theme-secondary a:hover {
  color: var(--link-secondary-hover-color);
}

/* buttons */
a.button:any-link, button, .btn {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid transparent;
  padding: var(--button-padding);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: var(--button-redius);
}

a.button:hover, a.button:focus, button:hover, button:focus, .btn:hover, .btn:focus  {
  background-color: var(--button-bg-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary, .btn.secondary {
  background-color: var(--button-secondary-bg-color);
  border: 1px solid var(--button-secondary-border-color);
  color: var(--button-secondary-text-color);
}

a.button.secondary:hover, a.button.secondary:focus, button.secondary:hover, button.secondary:focus, .btn.secondary:focus, .btn.secondary:hover {
  background-color: var(--button-secondary-bg-hover-color);
  color: var(--button-secondary-text-hover-color);
  border-color: var(--button-secondary-border-hover-color);
}

a.button.tertiary, button.tertiary, .btn.tertiary {
  background-color: var(--button-tertiary-bg-color);
  border: 1px solid var(--button-tertiary-border-color);
  color: var(--button-tertiary-text-color);
}

a.button.tertiary:hover, a.button.tertiary:focus, button.tertiary:hover, button.tertiary:focus, .btn.tertiary:hover, .btn.tertiary:focus  {
  background-color: var(--button-tertiary-bg-hover-color);
  color: var(--button-tertiary-text-hover-color);
  border-color: var(--button-tertiary-border-hover-color);
}

.section.theme-secondary a.button.secondary, 
.section.theme-secondary button.secondary {
  border-color: var(--button-themes-secondary-color);
  color: var(--button-themes-secondary-color);
}

.section.theme-secondary a.button.secondary:hover, 
.section.theme-secondary a.button.secondary:focus, 
.section.theme-secondary button.secondary:hover, 
.section.theme-secondary button.secondary:focus  {
  background-color: var(--button-themes-secondary-hover-color);
  border-color: var(--button-themes-secondary-hover-color);
  color: var(--button-secondary-text-hover-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
.bigbet h1 {
  margin-bottom: 45px;
}

main .section {
  padding: var(--gutter-space-section-mobile) 0;
}

main .section > div {
  padding: 0 var(--gutter-space-mobile);
}

.section.theme-secondary {
  color: var(--text-color);
}

.section.full-width-banner {
  position: relative;
  overflow: hidden;
}

.section.full-width-banner.hero-banner {
  overflow: visible;
}

.section.full-width-banner.hero-banner h1 { 
  font-size: var(--heading-font-size-xxl) 
}

.section.full-width-banner .default-content-wrapper {
  position: relative;
  z-index: 10;
}

main .section.full-width-banner img.banner-img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.section.full-width-banner.hero-banner img.banner-img {
  height: auto;
}

main .section.full-width-banner.bottom-edge {
  padding-bottom:  var(--gutter-space-triangle-mobile-s);
}

main .section.full-width-banner.top-edge {
  padding-top:  var(--gutter-space-triangle-mobile);
}

.section.full-width-banner.hero-banner.bottom-edge {
  padding-bottom:  var(--gutter-space-triangle-mobile);
}

footer {
  background-color: var(--medium-blue);
}

header.has-bg-color {
  background-color: var(--medium-blue);
  filter: drop-shadow(1px 2px 4px var(--header-shadow-color));
}

@media (width >= 768px) {
  main .section {
    max-width: var(--desktop-max-width);
    margin: auto;
  }
}

@media (width >= 1280px) {
  main .section {
    padding: var(--gutter-space-section-desktop) 0;
  }

  main .section > div {
    padding: 0 var(--gutter-space-desktop);
  }

  main .section.full-width-banner.hero-banner img.banner-img {
    min-height: 62rem;
  }

  main .section.full-width-banner.bottom-edge {
    padding-bottom: var(--gutter-space-triangle-desktop);
  }
  
  main .section.full-width-banner.top-edge {
    padding-top: var(--gutter-space-triangle-desktop);
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}

/* Two Column theme */
.theme-two-col-container {
  display: flex;
  max-width: var(--desktop-max-width);
  margin: auto;
  flex-direction: column;
  min-height: 400px;
}

.theme-two-col-container .section {
  padding-top: 0;
}

@media (width >= 1280px) {
  .theme-two-col-container {
    flex-direction: row;
  }

  .theme-two-col-container .theme-left-container {
    flex: 2;
  }
  
  .theme-two-col-container .theme-right-container {
    flex: 1;
  }

  .theme-two-col-container .theme-right-container .section > div {
    padding-left: 0;
  }
}

/* tags */
.tags {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5rem;
  padding: 0;
  margin: 0 0 1rem;
}

.tags.white {
  margin-top: 1.25rem;
}

.tags li {
  border: 0.3px solid var(--light-gray-color);
  border-radius: 3px;
  padding: .25rem .5rem;
  color: var(--light-gray-color);
}

.tags.white li {
  color: var(--body-text-color);
  border: 0.3px solid var(--body-text-color);
}

.tags li.tag-count {
  border: none;
  padding-left: 0;
}