.image-gallery-container .image-gallery > div > div p {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.image-gallery-container .image-gallery .pic-container:nth-child(odd) {
    flex: 60%;
    max-width: 60%;
    padding: 0 4px;
}

.image-gallery-container .image-gallery .pic-container:nth-child(even) {
    flex: 40%;
    max-width: 40%;
    padding: 0 7px;
}

.image-gallery-container .image-gallery .pic-container img {
    object-fit: cover;
    width: 100%;
    margin-top: 15px;
    vertical-align: middle;
}

.image-gallery-container .image-gallery .pic-container:nth-child(odd) picture:first-child img,
.image-gallery-container .image-gallery .pic-container:nth-child(even) picture:last-child img {
    height: 200px;
}

.image-gallery-container .image-gallery .pic-container:nth-child(odd) picture:last-child img,
.image-gallery-container .image-gallery .pic-container:nth-child(even) picture:first-child img {
    height: 100px;
}

.image-gallery-container .image-gallery .pic-container picture {
    margin-top: 15px;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .image-gallery-container{
        margin: 0 15px;
    }

    .image-gallery-container .image-gallery .pic-container:nth-child(odd) picture:first-child img,
    .image-gallery-container .image-gallery .pic-container:nth-child(even) picture:last-child img {
        height: 400px;
    }

    .image-gallery-container .image-gallery .pic-container:nth-child(odd) picture:last-child img,
    .image-gallery-container .image-gallery .pic-container:nth-child(even) picture:first-child img {
        height: 200px;
    }
}

@media (min-width: 1440px) {
    .image-gallery-container {
        max-width: 1128px;
        margin: 0 auto;
    }

    .image-gallery-container .image-gallery-wrapper {
        margin-top: 78px;
    }

    .image-gallery-container .image-gallery .pic-container:nth-child(odd) picture:first-child img,
    .image-gallery-container .image-gallery .pic-container:nth-child(even) picture:last-child img {
        height: 700px;
    }

    .image-gallery-container .image-gallery .pic-container:nth-child(odd) picture:last-child img,
    .image-gallery-container .image-gallery .pic-container:nth-child(even) picture:first-child img {
        height: 300px;
    }
}